body{  
  padding: 0px;
  margin: 0px;
  font-family: Sans-Serif;
  background: #b1fff5;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* header */
header {
    background: linear-gradient(0deg, #1d428a, #0a2a5a);
    box-shadow:  0 10px 12px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 19px 0;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 29px;
}
nav a{
    text-decoration: none;
    color: white;
}

/* header end */
.top {
	color: #5C6AC4;
	text-align: center;
    width: 100%;
    padding:15px;
}
.intro {
    padding: 20px;
    margin: 20px;
}